<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      lang="es">

<head th:replace="~{layout/layout :: head}">
</head>

<body class="sb-nav-fixed">

<nav th:replace="~{layout/layout :: header}"></nav>

<div id="layoutSidenav">

    <div th:replace="~{layout/layout :: sidebar}"></div>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <!-- TODO CONTENIDO AQUI -->
                <div class="card mt-4 shadow p-3 mb-5 bg-body-tertiary rounded border-0">
                    <div class="card-body">
                        <h4 class="card-title mb-3"
                            th:text="${titulo}"></h4>
                        <!--                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->

                        <form class="row g-3"
                              th:action="@{/actividad/formulario}"
                              th:object="${actividad}"
                              method="POST">
                            <div class="col-md-6 p-4">
                                <div class="mb-4">
                                    <b>DATOS DE LA IE</b>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="mb-3">
                                            <label for="txtIE"
                                                   class="form-label">Institución
                                                Educativa</label>
                                            <select class="form-select"
                                                    aria-label="Default select example"
                                                    id="txtIE"
                                                    th:field="*{institucion.id}">
                                                <option value="0">Seleccionar</option>
                                                <option th:each="inst: ${instituciones}"
                                                        th:value="${inst.id}"
                                                        th:text="${inst.nombre}">
                                                </option>
                                            </select>

                                            <div class="text-danger" th:if="${#fields.hasErrors('institucion.id')}"
                                                 th:errors="*{institucion.id}"></div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <label for="txtNivel"
                                               class="form-label">Nivel</label>
                                        <select class="form-select"
                                                id="txtNivel"
                                                th:field="*{nivel.id}">
                                            <option value="0">Seleccionar</option>
                                            <option th:each="niv: ${niveles}"
                                                    th:value="${niv.id}"
                                                    th:text="${niv.descripcion}"></option>
                                        </select>
                                        <div class="text-danger" th:if="${#fields.hasErrors('nivel.id')}"
                                             th:errors="*{nivel.id}"></div>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="txtLugar"
                                           class="form-label">Lugar</label>
                                    <input type="text"
                                           class="form-control"
                                           id="txtLugar"
                                           th:field="*{lugar}"/>
                                    <div class="text-danger" th:if="${#fields.hasErrors('lugar')}"
                                         th:errors="*{lugar}"></div>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Monitor</label>
<!--                                    <input type="text"-->
<!--                                           class="form-control"-->
<!--                                           id="txtMonitor"-->
<!--                                           th:field="*{usuario}"-->
<!--                                           th:value="${harduser.nombres}"-->
<!--                                           readonly/>-->
                                    <p th:text="${harduser.nombres +' '+harduser.apellidos}" th:field="*{usuario}"></p>
                                    <div class="text-danger" th:if="${#fields.hasErrors('usuario')}"
                                         th:errors="*{usuario}"></div>

                                </div>

                                <div class="mb-3">
                                    <div class="row d-flex align-items-baseline">
                                        <div class="col-md-6">
                                            <label for="txtNumVisita"
                                                   class="form-label">Número de visita a la IE</label>
                                            <input type="number"
                                                   class="form-control"
                                                   id="txtNumVisita"
                                                   th:field="*{numVisita}"/>
                                            <div class="text-danger" th:if="${#fields.hasErrors('numVisita')}"
                                                 th:errors="*{numVisita}"></div>
                                        </div>

                                        <div class="col-md-6">
                                            <label for="txtCanal"
                                                   class="form-label">Canal de comunicación para el
                                                monitoreo</label>
                                            <select class="form-select"
                                                    id="txtCanal"
                                                    th:field="*{canal.id}">
                                                <option value="0">Seleccionar</option>
                                                <option th:each="canal: ${canales}"
                                                        th:value="${canal.id}"
                                                        th:text="${canal.descripcion}"></option>
                                            </select>
                                            <div class="text-danger" th:if="${#fields.hasErrors('canal.id')}"
                                                 th:errors="*{canal.id}"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="txtDocente"
                                           class="form-label">Docente Monitoreado</label>
                                    <select class="form-select"
                                            id="txtDocente"
                                            th:field="*{docente.id}">
                                        <option value="0">Seleccionar</option>
                                        <option th:each="docente: ${docentes}"
                                                th:value="${docente.id}"
                                                th:text="${docente.nombres}"></option>
                                    </select>
                                    <div class="text-danger" th:if="${#fields.hasErrors('docente.id')}"
                                         th:errors="*{docente.id}"></div>
                                </div>

                            </div>
                            <div class="col-md-6 p-4 border-start">
                                <div class="mb-4">
                                    <b>INFORMACIÓN DE LA PROGRAMACIÓN DE LA ACTIVIDAD O
                                        SESIÓN</b>
                                </div>
                                <div class="mb-3">
                                    <div class="row d-flex align-items-baseline">
                                        <div class="col-md-4">
                                            <label for="txtCiclo"
                                                   class="form-label">Ciclo</label>
                                            <input type="text"
                                                   class="form-control"
                                                   id="txtCiclo"
                                                   th:field="*{ciclo}"/>
                                            <div class="text-danger" th:if="${#fields.hasErrors('ciclo')}"
                                                 th:errors="*{ciclo}"></div>
                                        </div>

                                        <div class="col-md-4">
                                            <label for="txtGradoSeccion"
                                                   class="form-label">Grado y Sección</label>
                                            <input type="text"
                                                   class="form-control"
                                                   id="txtGradoSeccion"
                                                   th:field="*{gradoSeccion}"/>
                                            <div class="text-danger" th:if="${#fields.hasErrors('gradoSeccion')}"
                                                 th:errors="*{gradoSeccion}"></div>
                                        </div>

                                        <div class="col-md-4">
                                            <label for="txtCantEstudiantes"
                                                   class="form-label">Estudiantes</label>
                                            <input type="number"
                                                   class="form-control"
                                                   placeholder="Cantidad estudiantes AeC"
                                                   id="txtCantEstudiantes"
                                                   th:field="*{cantidadEstudiantes}"/>
                                            <div class="text-danger" th:if="${#fields.hasErrors('cantidadEstudiantes')}"
                                                 th:errors="*{cantidadEstudiantes}"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <div class="row d-flex align-items-baseline">
                                        <div class="col-md-4">
                                            <label for="txtNumSemana"
                                                   class="form-label">N° semana</label>
                                            <input type="number"
                                                   class="form-control"
                                                   id="txtNumSemana"
                                                   th:field="*{numSemana}"/>
                                            <div class="text-danger" th:if="${#fields.hasErrors('numSemana')}"
                                                 th:errors="*{numSemana}"></div>
                                        </div>

                                        <div class="col-md-4">
                                            <label for="txtNumSesion"
                                                   class="form-label">N° sesion / actividad</label>
                                            <input type="number"
                                                   class="form-control"
                                                   id="txtNumSesion"
                                                   th:field="*{numActividad}"/>
                                            <div class="text-danger" th:if="${#fields.hasErrors('numActividad')}"
                                                 th:errors="*{numActividad}"></div>
                                        </div>

                                        <div class="col-md-4">
                                            <label for="checkDirectorioPadres"
                                                   class="form-label">Cuenta con el directorio de los
                                                PP.FF. (EBR, EBA menos de edad)</label>

                                            <div class="form-check">
                                                <input class="form-check-input"
                                                       type="checkbox"
                                                       th:value="${directorioPadres}"
                                                       id="checkDirectorioPadres"
                                                       th:checked="${directorioPadres}"
                                                       th:field="*{directorioPadres}"/>
                                                <label class="form-check-label"
                                                       for="checkDirectorioPadres"> Si </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <div class="row d-flex align-items-baseline">
                                        <div class="col-md-8">
                                            <label for="txtArea"
                                                   class="form-label">Área</label>
                                            <select class="form-select"
                                                    id="txtArea"
                                                    th:field="*{area.id}">
                                                <option value="0">Seleccionar</option>
                                                <option th:each="area: ${areas}"
                                                        th:value="${area.id}"
                                                        th:text="${area.nombreCurso}"></option>
                                            </select>
                                            <div class="text-danger" th:if="${#fields.hasErrors('area.id')}"
                                                 th:errors="*{area.id}"></div>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="checkDirectorioEstudiantes"
                                                   class="form-label">Cuenta con el directorio de los
                                                estudiantes</label>
                                            <div class="form-check">
                                                <input class="form-check-input"
                                                       type="checkbox"
                                                       th:value="${directorioEstudiantes}"
                                                       id="checkDirectorioEstudiantes"
                                                       th:checked="${directorioEstudiantes}"
                                                       th:field="*{directorioEstudiantes}"/>
                                                <label class="form-check-label"
                                                       for="checkDirectorioEstudiantes"> Si </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="txtCompetencia"
                                       class="form-label">Competencia (s)</label>
                                <textarea class="form-control"
                                          id="txtCompetencia"
                                          style="height: 100px"
                                          th:field="*{competencia}"></textarea>
                                <div class="text-danger" th:if="${#fields.hasErrors('competencia')}"
                                     th:errors="*{competencia}"></div>
                            </div>
                            <div class="col-12">
                                <label for="txtNomSesion"
                                       class="form-label">Nombre de la sesión o Actividad</label>
                                <textarea class="form-control"
                                          id="txtNomSesion"
                                          style="height: 100px"
                                          th:field="*{nombreActividad}"></textarea>
                                <div class="text-danger" th:if="${#fields.hasErrors('nombreActividad')}"
                                     th:errors="*{nombreActividad}"></div>
                            </div>

                            <div class="mb-3">
                                <div class="row d-flex align-items-baseline">
                                    <b class="mb-2"> RECURSOS Y/O MEDIOS UTILIZADOS PARA EL
                                        DESARROLLO DE LAS ACTIVIDADES DE APRENDIZAJE EN LA ESTRATEGIA
                                        APRENDO EN CASA</b>
                                    <div class="col-md-8">
                                        <label for="txtMedioRecurso"
                                               class="form-label">Medio</label>
                                        <select class="form-select"
                                                id="txtMedioRecurso"
                                                th:field="*{medio.id}">
                                            <option value="0">Seleccionar</option>
                                            <option th:each="m: ${medios}"
                                                    th:value="${m.id}"
                                                    th:text="${m.descripcion}"></option>
                                        </select>
                                        <div class="text-danger" th:if="${#fields.hasErrors('medio.id')}"
                                             th:errors="*{medio.id}"></div>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="txtCantidadMedio"
                                               class="form-label">Cantidad</label>
                                        <input type="text"
                                               class="form-control"
                                               id="txtCantidadMedio"
                                               th:field="*{cantidadMedio}">
                                        <div class="text-danger" th:if="${#fields.hasErrors('cantidadMedio')}"
                                             th:errors="*{cantidadMedio}"></div>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="txtPercent"
                                               class="form-label">%</label>
                                        <input type="text"
                                               class="form-control"
                                               id="txtPercent"
                                               readonly
                                               th:field="*{porcentajeMedio}">
                                        <div class="text-danger" th:if="${#fields.hasErrors('porcentajeMedio')}"
                                             th:errors="*{porcentajeMedio}"></div>
                                    </div>
                                </div>
                            </div>

<!--                            <div class="mb-3">-->
<!--                                <div class="row d-flex align-items-baseline">-->
<!--                                    <b class="mb-2"> MEDIOS DE COMUNICACION Y/O CANALES DE ACCESO-->
<!--                                        POR EL CUAL PARTICIPAN LOS ESTUDIANTES Y BRINDA LA-->
<!--                                        RETROALIMENTACION</b>-->
<!--                                    <div class="col-md-8">-->
<!--                                        <label for="txtMedioCom"-->
<!--                                               class="form-label">Medio</label>-->
<!--                                        <select class="form-select"-->
<!--                                                id="txtMedioCom"-->
<!--                                                th:field="*{medio.id}">-->
<!--                                            <option value="0">Seleccionar</option>-->
<!--                                            <option th:each="m: ${medios}"-->
<!--                                                    th:value="m.id"-->
<!--                                                    th:text="${m.descripcion}"></option>-->
<!--                                        </select>-->
<!--                                    </div>-->
<!--                                    <div class="col-md-2">-->
<!--                                        <label for="txtCantidadMedioCom"-->
<!--                                               class="form-label">Cantidad-->
<!--                                        </label>-->
<!--                                        <input type="text"-->
<!--                                               class="form-control"-->
<!--                                               id="txtCantidadMedioCom">-->
<!--                                    </div>-->
<!--                                    <div class="col-md-2">-->
<!--                                        <label for="txtPercentCom"-->
<!--                                               class="form-label">%</label>-->
<!--                                        <input type="text"-->
<!--                                               class="form-control"-->
<!--                                               id="txtPercentCom">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

                            <hr>
                            <div class="col-12 d-flex justify-content-end">
                                <!--                                                <a th:href="@{/ficha-items}"-->
                                <!--                                                   class="btn btn-primary">Iniciar evaluación</a>-->
                                <button type="submit" class="btn btn-primary">Iniciar evaluación</button>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </main>
        <footer th:replace="~{layout/layout :: footer}"></footer>
    </div>
</div>

<script>
    let txtCantEstudiantes = document.getElementById('txtCantEstudiantes');
    let txtPercent = document.getElementById('txtPercent');
    let txtCantidadMedio = document.getElementById('txtCantidadMedio');

    txtCantidadMedio.addEventListener('keyup', (e)=> {

        let cantidadMedio = Number(e.target.value);
        let cantEstudiantes = Number(txtCantEstudiantes.value);

        if(cantEstudiantes <= 0 || cantEstudiantes == 'null' || cantEstudiantes == 'undefined'){
            txtPercent.value = 0;
        }else{
            txtPercent.value = Number((cantidadMedio * 100) / cantEstudiantes).toFixed(2);
        }

    });
</script>

</body>

</html>