<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      lang="es">

<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description"
          content=""/>
    <meta name="author"
          content=""/>
    <title>QuizApp - SB Admin</title>

    <link th:href="@{/css/bootstrap_lux.min.css}"
          rel="stylesheet"/>
    <link th:href="@{/css/simple_datatables.css}"
          rel="stylesheet"/>
    <link th:href="@{/css/styles.css}"
          rel="stylesheet"/>

    <script th:src="@{/js/all.min.js}"
            crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">

<!--=====================NAVBAR=====================-->
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark"
     th:fragment="header">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3"
       href="index.html">Quiz-App</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0"
            id="sidebarToggle"
            href="#!"><i class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
            <input class="form-control"
                   type="text"
                   placeholder="Buscar por..."
                   aria-label="Buscar por..."
                   aria-describedby="btnNavbarSearch"/>
            <button class="btn btn-primary"
                    id="btnNavbarSearch"
                    type="button"><i class="fas fa-search"></i></button>
        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               id="navbarDropdown"
               href="#"
               role="button"
               data-bs-toggle="dropdown"
               aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end"
                aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item"
                       th:href="@{/config}">Configuración</a></li>
                <li><a class="dropdown-item"
                       href="#!">Registro de actividad</a></li>
                <li>
                    <hr class="dropdown-divider"/>
                </li>
                <li><a class="dropdown-item"
                       th:href="@{/logout}">Cerrar sesión</a></li>
            </ul>
        </li>
    </ul>
</nav>
<!--=====================/NAVBAR=====================-->

<div id="layoutSidenav">
    <!--=====================SIDEBAR=====================-->
    <div id="layoutSidenav_nav"
         th:fragment="sidebar">
        <nav class="sb-sidenav accordion sb-sidenav-dark"
             id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Principal</div>
                    <a class="nav-link"
                       th:href="@{/index}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Panel inicio
                    </a>
                    <div class="sb-sidenav-menu-heading">Interfaces</div>
                    <a class="nav-link collapsed"
                       href="#"
                       data-bs-toggle="collapse"
                       data-bs-target="#collapseLayouts"
                       aria-expanded="false"
                       aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Evaluación
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse"
                         id="collapseLayouts"
                         aria-labelledby="headingOne"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link"
                               th:href="@{/fichas}">Fichas</a>
                            <!--                            <a class="nav-link"-->
                            <!--                               th:href="@{/actividades}">Actividades / Sesiones</a>-->
                            <!--                            <a class="nav-link"-->
                            <!--                               th:href="@{/consolidados}">Consolidados</a>-->
                        </nav>
                    </div>
                    <a class="nav-link collapsed"
                       href="#"
                       data-bs-toggle="collapse"
                       data-bs-target="#collapsePages"
                       aria-expanded="false"
                       aria-controls="collapsePages">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Páginas
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse"
                         id="collapsePages"
                         aria-labelledby="headingTwo"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav accordion"
                             id="sidenavAccordionPages">
                            <a class="nav-link collapsed"
                               href="#"
                               data-bs-toggle="collapse"
                               data-bs-target="#pagesCollapseAuth"
                               aria-expanded="false"
                               aria-controls="pagesCollapseAuth">
                                Gestión
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse"
                                 id="pagesCollapseAuth"
                                 aria-labelledby="headingOne"
                                 data-bs-parent="#sidenavAccordionPages">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link"
                                       th:href="@{/areas}">Áreas</a>
                                    <a class="nav-link"
                                       th:href="@{/cargos}">Cargos</a>
                                    <a class="nav-link"
                                       th:href="@{/docentes}">Docentes</a>
                                    <a class="nav-link"
                                       th:href="@{/instituciones}">Instituciones</a>
                                    <a class="nav-link"
                                       th:href="@{/items}">Items</a>
                                    <a class="nav-link"
                                       th:href="@{/categorias}">Categorias</a>
                                    <a class="nav-link"
                                       th:href="@{/canales}">Canales de comunicación</a>
                                    <a class="nav-link"
                                       th:href="@{/medios}"
                                       href="password.html">Medios / Recursos</a>
                                    <a class="nav-link"
                                       th:href="@{/indicadores}"
                                       href="password.html">Indicadores</a>
                                </nav>
                            </div>
                            <!--                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">-->
                            <!--                                Error-->
                            <!--                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>-->
                            <!--                            </a>-->
                            <!--                            <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">-->
                            <!--                                <nav class="sb-sidenav-menu-nested nav">-->
                            <!--                                    <a class="nav-link" href="401.html">401 Page</a>-->
                            <!--                                    <a class="nav-link" href="404.html">404 Page</a>-->
                            <!--                                    <a class="nav-link" href="500.html">500 Page</a>-->
                            <!--                                </nav>-->
                            <!--                            </div>-->
                        </nav>
                    </div>
                    <!--                    <div class="sb-sidenav-menu-heading">Addons</div>-->
                    <!--                    <a class="nav-link" href="charts.html">-->
                    <!--                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>-->
                    <!--                        Charts-->
                    <!--                    </a>-->
                    <!--                    <a class="nav-link" href="tables.html">-->
                    <!--                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>-->
                    <!--                        Tables-->
                    <!--                    </a>-->
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Conectado como:</div>
                User-test
            </div>
        </nav>
    </div>
    <!--=====================/SIDEBAR=====================-->

    <!--=====================MAIN=====================-->
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <!-- TODO CONTENIDO AQUI -->
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto"
                th:fragment="footer">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Quiz-App 2023</div>
                    <div>
                        <a href="#">Políticas de privacidad</a>
                        &middot;
                        <a href="#">Términos &amp; Condiciones</a>
                    </div>
                </div>
            </div>
            <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
            <script th:src="@{/js/scripts.js}"></script>
            <script th:src="@{/js/Chart.min.js}"></script>
            <script th:src="@{/assets/demo/chart-area-demo.js}"></script>
            <script th:src="@{/assets/demo/chart-bar-demo.js}"></script>
            <script th:src="@{/js/simple-datatables@latest.js}"></script>
            <script th:src="@{/js/datatables-simple-demo.js}"></script>
        </footer>
    </div>
    <!--=====================/MAIN=====================-->
</div>

</body>

</html>