<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:replace="~{layout/layout :: head}">
</head>

<body class="sb-nav-fixed">

<nav th:replace="~{layout/layout :: header}"></nav>

<div id="layoutSidenav">

    <div th:replace="~{layout/layout :: sidebar}"></div>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <!-- TODO CONTENIDO AQUI -->
                <div class="card mt-4 mb-4">
                    <div class="card-header d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                            <i class="fas fa-table me-1"></i>
                            <h4 th:text="${titulo}"></h4>
                        </div>
                        <a class="btn btn-info" th:href="@{/indicadores/formulario}">
                            <i class="fas fa-plus-square text-light"></i>
                        </a>
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>RESULTADO</th>
                                <th>FECHA CREACION</th>
                                <th>EDITAR</th>
                                <th>ELIMINAR</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>RESULTADO</th>
                                <th>FECHA CREACION</th>
                                <th>EDITAR</th>
                                <th>ELIMINAR</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr th:each="indicador: ${indicadores}">
                                <td th:text="${indicador.id}"></td>
                                <td th:text="${indicador.resultado}"></td>
                                <td th:text="${indicador.createdAt}"></td>
                                <td><a th:href="@{/indicadores/formulario/}+ ${indicador.id}"
                                       class="btn btn-warning btn-sm">Editar</a></td>
                                <td><a th:href="@{/indicadores/eliminar/}+ ${indicador.id}"
                                       class="btn btn-danger btn-sm"
                                       onclick="return confirm('¿Eliminar registro?')">Eliminar</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <footer th:replace="~{layout/layout :: footer}"></footer>
    </div>
</div>
</body>

</html>