<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      lang="es">

<head th:replace="~{layout/layout :: head}">
</head>

<body class="sb-nav-fixed">

<nav th:replace="~{layout/layout :: header}"></nav>

<div id="layoutSidenav">

    <div th:replace="~{layout/layout :: sidebar}"></div>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <!-- TODO CONTENIDO AQUI -->
                <div class="card mt-4 shadow p-3 mb-5 bg-body-tertiary rounded border-0"
                     style="width: 22rem;">
                    <div class="card-body">
                        <h5 class="card-title"
                            th:text="${titulo}"></h5>
                        <!--                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->

                        <form th:action="@{/areas/formulario}"
                              th:object="${area}"
                              method="post">
                            <!--==================AREA/CURSO==================-->
                            <div class="mb-3">
                                <label for="txtArea"
                                       class="form-label">Area / Curso</label>
                                <input type="text"
                                       class="form-control"
                                       id="txtArea"
                                       th:field="*{nombreCurso}"
                                       th:errorclass="'form-control'"/>
                                <small class="form-text text-danger"
                                       th:if="${#fields.hasErrors('nombreCurso')}"
                                       th:errors="*{nombreCurso}"></small>
                            </div>

                            <input type="hidden"
                                   th:field="*{id}"/>

                            <button type="submit"
                                    class="btn btn-primary">Registrar
                            </button>

                            <a th:href="@{/areas}"
                               type="button"
                               class="btn btn-danger">Cancelar
                            </a>
                            <!--                    <a href="#" class="card-link">Another link</a>-->
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <footer th:replace="~{layout/layout :: footer}"></footer>
    </div>
</div>
</body>

</html>