<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      lang="es">

<head th:replace="~{layout/layout :: head}">
</head>

<body class="sb-nav-fixed">

<nav th:replace="~{layout/layout :: header}"></nav>

<div id="layoutSidenav">

    <div th:replace="~{layout/layout :: sidebar}"></div>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <!-- TODO CONTENIDO AQUI -->
                <h3 th:text="${titulo}"></h3>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <form action="#"
                              th:action="@{/ficha-items/registro}"
                              th:object="${form}"
                              method="post">
                            <fieldset>
                                <input type="submit"
                                       id="submitButton"
                                       th:value="Guardar">
                                <input type="reset"
                                       id="resetButton"
                                       name="reset"
                                       th:value="Reset"/>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">ITEMS</th>
                                        <th scope="col">VALORACION</th>
                                        <th scope="col">EVIDENCIAS</th>
                                        <th scope="col">OBSERVACIONES</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <div th:each="cat: ${categorias}">
                                        <tr class="bg-secondary">
                                            <td colspan="4">
                                                <b th:text="${cat.descripcion}" class="text-light"></b>
                                            </td>
                                        </tr>

                                        <tr th:each="ficha, itemStat : *{fichaItems}">
                                            <div th:if="${cat.id == ficha.item.categoriaItem.id }">
                                                <input type="hidden"
                                                       th:field="*{fichaItems[__${itemStat.index}__].id}">
                                                <input type="hidden"
                                                       th:field="*{fichaItems[__${itemStat.index}__].ficha.id}">
                                                <input type="hidden"
                                                       th:field="*{fichaItems[__${itemStat.index}__].item.id}">
                                                <td width="50%" th:text="${ficha.item.descripcion}"></td>
                                                <td>
                                                    <input type="number"
                                                           min="0"
                                                           max="2"
                                                           class="form-control"
                                                           th:field="*{fichaItems[__${itemStat.index}__].valoracion}"/>
                                                </td>
                                                <td class="text-center">
                                                    <!--                                            <button type="button"-->
                                                    <!--                                                    class="btn btn-info btn-sm text-light"></button>-->

                                                    <!-- Button trigger modal -->
                                                    <button type="button" class="btn btn-primary btn-sm"
                                                            data-bs-toggle="modal"
                                                            th:attr="data-bs-target='#openModal'+${ficha.id}">
                                                        <i class="fas fa-plus"></i>
                                                    </button>

                                                    <!-- Modal -->
                                                    <div class="modal fade" th:id="'openModal'+${ficha.id}"
                                                         tabindex="-1"
                                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h1 class="modal-title fs-5" id="exampleModalLabel"
                                                                        th:text="${ficha.id} + ' Subir evidencia'"></h1>
                                                                    <button type="button" class="btn-close"
                                                                            data-bs-dismiss="modal"
                                                                            aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="mb-3">
                                                                        <label for="formFile" class="form-label">Seleccionar
                                                                            archivo
                                                                        </label>
                                                                        <input class="form-control" type="file"
                                                                               id="formFile">
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                            data-bs-dismiss="modal">Cerrar
                                                                    </button>
                                                                    <button type="button" class="btn btn-primary">
                                                                        Guardar
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td width="30%">
                                                    <div class="form-floating">
                                            <textarea class="form-control" rows="4"
                                                      placeholder="Ingresar observación"
                                                      id="floatingTextarea"
                                                      th:field="*{fichaItems[__${itemStat.index}__].descripcion}"></textarea>
                                                        <label for="floatingTextarea">Comentarios</label>
                                                    </div>
                                                </td>
                                            </div>
                                        </tr>

                                    </div>

                                    </tbody>
                                </table>
                            </fieldset>

                        </form>
                    </div>
                </div>
            </div>

        </main>
        <footer th:replace="~{layout/layout :: footer}"></footer>
    </div>
</div>
</body>

</html>